<section class="block container block-domain">
  <header class="block__header">
    <h2>For only $9</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus sit
      quaerat harum error praesentium omnis dolorum maxime dolorem quam,
      architecto consequatur nemo doloribus at. Atque error sunt impedit natus
      architecto.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="Images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>cd%jk</li>
    <li><span class="badge badge--secondary"> ab&hdjk</span></li>
    <li>ef@hjk</li>
    <li>gh*Ssd</li>
    <li>ij(sds</li>
    <li>kld$3f</li>
  </ul>
</section>
