<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, odio enim
    dolorem asperiores laudantium doloribus, excepturi quo voluptates deleniti,
    beatae natus aperiam consequuntur expedita! Dolores nulla laudantium ducimus
    atque possimus.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media_title quote__author">Jhon Smith</h3>
        <p class="quote__organization">MHS Material Handling Systems</p>
      </div>
    </div>
  </footer>
</blockquote>
